.open-noti {
    height: 400px;
    width: 20rem;
}

.close-noti {
    height: 0;
    width: 20rem;
    
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(243 244 246);
 }