//font
$-poppin: 'Poppins', sans-serif;

//color
$-blue-1: #1473BB;
$-gray-1: #EFF2F5;
$-gray-2: #eff2f5e2;
$-gray-3: #E5E5E5;
$-red-1: #DF3F47;
$-black-1: #000000;
$-black-2: #121C2D;
$-white-1: #FFFFFF;

//line height
$lh-1: 20px;
$lh-2: 16px;

//font size
$-fs-1: 16px;
$-fs-2: 18px;
$-fs-3: 20px;
$-fs-4: 24px;
$-fs-5: 32px;
$-fs-6: 48px;

//Padding:
$-pd-1: 0;
$-pd-2: 4px;
$-pd-3: 12px;
$-pd-4: 16px;
$-pd-5: 24px;
$-pd-6: 48px;

//Border-radius:
$-br-1: 2px;
$-br-2: 6px;
$-br-3: 10px;

//box-shadow
$-bs-1: 0 2px 4px rgba(0, 0, 0, 0.18);
$-bs-2: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
$-bs-3: 0 6px 20px rgba(0, 0, 0, 0.2);
$-bs-4: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);